.wrapper {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.parent {
    background-color: white;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    width: fit-content;
    height: fit-content;
    margin: auto;

    padding: 20px;
}

.btn {
    display: flex;
    justify-content: end;
}