.diceWrapper {
    background-color: rgba(227, 229, 229, 0.822);
    padding: 10px;
    margin-block: 10px;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-auto-rows: 100px;
    gap: 10px;
}

.dotsWrapper {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;

    display: grid;
    grid-template-columns: repeat(2, 20px);
    grid-auto-rows: 20px;
    justify-content: space-around;
    align-content: space-around;
}

.singleDotWrapper {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.twoDotWrapper {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;

    display: grid;
    grid-template-areas: "a b" "d c";
    justify-content: space-around;
    align-content: space-around;
}

.threeDotWrapper {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;

    display: grid;
    grid-template-areas: "a b c" "d e f" "g h i";
    justify-content: space-around;
    align-content: space-around;
}

.fiveDotWrapper {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: white;

    display: grid;
    grid-template-areas: "a b c" "d e f" "g h i";
    justify-content: space-around;
    align-content: space-around;
}

.dots {
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
}