.listItem:hover {
    background-color: gainsboro;
}

.ulStyle {
    list-style: none;
    padding-left: 5px
}

.userInput {
    border: 1px solid black;
    width: 80vw;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6px;
    padding: 5px;
    border-radius: 10px;
}

.userInput input {
    border: none;
}

.userInput input:focus {
    outline: none;
}

.pill {
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 20px;
}


.pill {
    cursor: pointer;
}